/* More info button styling */
.btn-portfolio {
    background-color: #E74C3C;
}
.btn-portfolio:hover {
    background-color: #B23B2E;
}

.btn-blog {
    background-color: #3498DB;
}
.btn-blog:hover {
    background-color: #2A7CB2;
}

.btn-about {
    background-color: #9B59B6;
}
.btn-about:hover {
    background-color: #623872;
}