/* Custom CSS (to be used for portfolio pages */
h1 a{
	color: #ECF0F1;
}

h1 a:hover, h1 a:focus{
	color: #ECF0F1;
}

.page-header{
	background-color: #E74C3C;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #E74C3C;
}
