---
layout: base
title: ryan bonick &#58;&#58; bikes
permalink: /bikes.html
categories: bikes
---
<div class="container bikes-container">
  <p class="lowercase">Bikes are great!</p>
  <p class="lowercase">Cycling is super duper healthy and also really fun.</p>
  <p class="lowercase">And they're better for the environment than a car!</p>
  <p class="lowercase">Right now I have 4 bikes! That's a lot but I love them all.</p>

  <div class="bike-cards">
    {% for bike in site.bikes %}
      {% unless bike.retired %}
      <div class="bike-card">
        <h3>{{ bike.name }} <small>{{ bike.make }} {{ bike.model }}</small></h3>
        <img src="{{ bike.image }}">
      </div>
      {% endunless %}
    {% endfor %}
  </div>

  <h2>Retired <small>(with love)</small></h2>

  <div class="bike-cards">
    {% for bike in site.bikes %}
      {% if bike.retired %}
      <div class="bike-card">
        <h3>{{ bike.name }} <small>{{ bike.make }} {{ bike.model }}</small></h3>
        <img src="{{ bike.image }}">
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
