---
layout: base
title: ryan bonick &#58;&#58; blog
permalink: /blog.html
categories: blog
---
<div class="container blog-page">
  <div class="blog-posts">
  {% for page in site.posts %}
   {% if page.path contains 'blog' or page.path contains 'drafts' %}
   <div class="blog-card">
     <a href="{{ page.url }}">
       <h4>{{ page.title }}</h4>
     </a>
   </div>
   {% endif %}
 {% endfor %}
 </div>
 <div class="blog-tags">
   <h3>tags</h3>
   {% for tag in site.tags %}
   <div class="blog-tag">
     <a href="/tag/{{tag[0]}}">{{ tag[0] }}</a>
   </div>
   {% endfor %}
 </div>
</div>
