---
layout: base
title: ryan bonick &#58;&#58; music
permalink: /music.html
categories: music
---

<div class="container music-container">
  <p>i make music under the name <a href="https://cirtamoa.bandcamp.com/">cirtamoa</a></p>
  <div class="bandcamp-embeds">
    {% for item in site.data.music %}
      {% if item.album %}
        <iframe style="border: 0; width: 700px; height: 208px;"
          src="https://bandcamp.com/EmbeddedPlayer/album={{item.num}}/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"
          seamless>
          <a href="{{item.link}}">{{item.name}}</a>
        </iframe>
      {% else %}
        <iframe style="border: 0; width: 100%; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/track={{item.num}}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
          seamless>
          <a href="{{item.link}}">{{item.name}}</a>
        </iframe>
      {% endif %}
    {% endfor %}
  </div>
</div>