    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/favicon.png">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Boostrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- UI CSS -->
        <link rel="stylesheet" href="/css/flat-ui.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/mixins.css">
        <link rel="stylesheet" href="/css/custom.css">
        {% if page.categories %}
            <link rel="stylesheet" href="/css/{{ page.categories }}.css">
        {% endif %}
    </head>
