<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    {% if page.image %}
      <meta property="og:image" content="{{ page.image }}">
    {% endif %}
    <script>
      const backgrounds = [
    {% for image in site.static_files %}
      {% if image.path contains 'images/bg' %}
        "{{ image.path }}",
      {% endif %}
    {% endfor %}
    ]
    console.log(`backgrounds: ${backgrounds}`)
     </script>
    <script type="text/javascript" src="/scripts/bg.js"></script>
</head>
