@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 980px;

  flex-basis: 0;
  flex-grow: 1;
}
