@import 'colors';
@import 'fonts';

$grid-size: 50px;
$grid-thickness: 2px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  // background-size: $grid-size $grid-size;
  // background-image: linear-gradient(to right, $grid-transparent $grid-thickness, transparent $grid-thickness), linear-gradient(to bottom, $grid-transparent $grid-thickness, transparent $grid-thickness);
  background-image: url("/images/bg/flowering-plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $black;
    }
  }
}

main {
  display: flex;
  justify-content: center;

  padding: 40px 0;

  font-family: $font-mono;

  @media screen and (max-width: 426px) {
    padding: 25px 2px;
  }
}

.container {
  max-width: 980px;

  flex-basis: 0;
  flex-grow: 1;
}

.two-grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
  gap: 1rem; /* Optional: Adds a gap between columns */

  @media screen and (max-width: 426px) {
    grid-template-columns: 1fr;
  }

  &.one-quarter-three-quarters {
    grid-template-columns: 1fr 3fr; /* 1/4 + 3/4 */

    @media screen and (max-width: 426px) {
      grid-template-columns: 1fr;
    }
  }
}

.hidden {
  display: none;
}

div.center {
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 100%;
}
