@import 'colors';
@import 'fonts';

$grid-size: 50px;
$grid-thickness: 2px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background-size: $grid-size $grid-size;
  background-image: linear-gradient(to right, $teal-transparent $grid-thickness, transparent $grid-thickness), linear-gradient(to bottom, $teal-transparent $grid-thickness, transparent $grid-thickness);
}

main {
  display: flex;
  justify-content: center;

  padding: 40px 0;

  font-family: $font-mono;

  @media screen and (max-width: 426px) {
    padding: 25px 2px;
  }
}

.container {
  max-width: 980px;

  flex-basis: 0;
  flex-grow: 1;
}
