@import 'colors';

.blog {
  header {
    background-color: $blog-color;
  }
}

.blog-container {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

.blog-card {
  display: inline-block;
  background-color: $white;
  padding: 10px;

  h4 {
    margin: 0;
  }
}
