$red: #F25942;
$green: #0CA65F;
$yellow: #F2A405;
$purple: #9623CC;
$teal: #18C9AA;
$blue: #2567D9;
$white: #FFFFFF;
$dark-red: #471218;
$black: #333333;

$font-color: $black;
$link-color: $teal;

$home-color: $red;
$projects-color: $yellow;
$bikes-color: $blue;
$plants-color: $green;
$blog-color: $purple;
$friends-color: $teal;

$grid-color: $teal;
$grid-transparent: #{$grid-color}40;
