footer {
    position: fixed;
    bottom: 0;
    
    width: 100%;

    padding: 0.5rem;
  
    font-family: $font-mono;
  
    @media screen and (max-width: 426px) {
      padding: 25px 2px;
    }

    .container {
        margin: auto;
    }
}

.rss {
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: bold;
    
    text-transform: lowercase;
    text-decoration: underline;
    text-underline-offset: 0.3rem;

    color: $black;
}
