@import 'colors';

.index {

  header, footer {
    background-color: $home-color;
  }
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 426px) {
    justify-content: space-between;
  }

  p {
    display: inline-block;
  }
}
