@import 'colors';
@import 'fonts';

header {
  overflow:auto;
  background-color: $red;

  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;

  font-weight: bold;
  font-family: $font-display;
  text-transform: uppercase;

  & > .container {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 426px) {
      flex-wrap: wrap;
    }
  }

  a {
    flex-basis: 0;
    flex-grow: 1;

    padding: 10px 1rem;
    border-bottom: 0;

    text-align: center;
    color: $white;

    @media (prefers-color-scheme: dark) {
      & {
        color: $black;
      }
    }

    &.home {
      background-color: $home-color;
    }

    &.projects {
      background-color: $projects-color;
    }

    &.bikes {
      background-color: $bikes-color;
    }

    &.music {
      background-color: $music-color;
    }

    &.plants {
      background-color: $plants-color;
    }

    &.blog {
      background-color: $blog-color;
    }

    &.friends {
      background-color: $friends-color;
    }
  }
}
