@import 'colors';
@import 'fonts';

h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    text-transform: uppercase;

    @media screen and (max-width: 426px) {
        line-height: 3.6rem;
        margin-top: 1.2rem;
        padding-left: 0.25rem;
    }
}

h1 {
    font-size: 3.5rem;
    line-height: 4.8rem;
    margin-top: 1.6rem;
    margin-bottom: .8rem;

    small {
        font-weight: normal;
        font-size: .5em;
    }

    @media screen and (max-width: 426px) {
        line-height: 3.6rem;
        margin-top: 1.2rem;
    }
}

h2 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    margin-top: 2.8rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.4375rem;
    line-height: 1.6rem;
    margin-top: 1em;
    margin-bottom: .8rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1em;
    margin-bottom: .8rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: .8em;
    margin-bottom: .8rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: .8em;
    margin-bottom: .8rem;
}

p {
    line-height: 1.625rem;

    padding: 10px;

    color: $font-color;
    background-color: $white;

    & + & {
        margin-top: 1rem;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    border-bottom: 1px solid $link-color;

    &.standalone {
      display: inline-block;

      padding: 10px;
      background-color: $white;

      border-bottom-width: 2px;
    }
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  ul, ol {
    list-style-position: inside;
  }
}

li::marker {
  font-size: 1.4rem;
  font-family: $font-display;
}

.pos-number {
  color: $green;
}

.neg-number {
  color: $red;
}
