<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/flat-ui.css">
        <link rel="stylesheet" href="css/bootstrap.css">


    </head>
    <body>

      <div class="site">
      
        <div class="navbar navbar-inverse navbar-fixed-top navbar-embossed" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">RB</a>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        <div class="header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <a class="extra" href="/">home</a>
        </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Ryan Bonick<br />
                Computer Engineer<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/rjbman">github.com/rjbman</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
      </div>

    </body>
</html>
